<div class="form">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group form-animate-text" [ngClass]="{ 'form-animate-error': submitted && f.num1.errors }">
      <input type="number" class="form-control" formControlName="num1" name="num1" autocomplete="on" placeholder="Número 1" required>
      <div *ngIf="submitted && f.num1.errors" class="invalid-feedback d-block">
          <div *ngIf="f.num1.errors.required">El valor 1 es requerido</div>
      </div>
    </div>
  
    <div class="form-group form-animate-text" [ngClass]="{ 'form-animate-error': submitted && f.num2.errors }">
      <input type="number" class="form-control" formControlName="num2" name="num2" autocomplete="on" placeholder="Número 2" required>
      <div *ngIf="submitted && f.num2.errors" class="invalid-feedback d-block">
          <div *ngIf="f.num2.errors.required">El valor 2 es requerido</div>
      </div>
    </div>

    <div class="form-group form-animate-text" [ngClass]="{ 'form-animate-error': submitted && f.operation.errors }">
      <select class="form-control" id="operacion" formControlName="operation" name="operation" placeholder="Selecciona una operación"  required>
        <option  value="SUMA">SUMA</option>
        <option  value="RESTA">RESTA</option>
        <option  value="MULTIPLICACION">MULTIPLICACION</option>
        <option  value="DIVISION">DIVISION</option>
      </select>

      <div *ngIf="submitted && f.operation.errors" class="invalid-feedback d-block">
          <div *ngIf="f.operation.errors.required">La operacion es requerida</div>
      </div>
    </div>

    <button type="submit" name="button" class="btn btn-primary btn-block " [disabled]="btnloader" [ngClass]="{ 'no-drop': btnloader }">
        <i class="fas fa-spinner fa-spin mr-3" *ngIf="btnloader"></i> Calcular
    </button>
  </form>
</div>


<div class="table">

 

<table class="table">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of list">
      <th scope="row">{{e.id}}</th>
      <td>{{e.resultado}}</td>
   
    </tr>
 
  </tbody>
</table>

</div>